:root {
  --text-gray: #777;
}

body {
  margin: 0;
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
}

.container_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  color: #f5f6f7;
  letter-spacing: 5px;
  background-color: #f8f8f8;
}

.menu_btn {
  font-size: 20px;
}

.navbar {
  display: flex;
}

.menu_item {
  text-align: center;
  font-size: 12px;
  letter-spacing: 5px;
}

.menu_text {
  color: var(--text-gray);
  text-decoration: none;
  padding: 12px;
}

.reason {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1abc9c;
  text-align: center;
  height: 600px;
}

.container_text {
  margin: 44px;
  font-size: 24px;
  color: #fff;
  line-height: 1.1;
  font-weight: unset;
}

.person_photo {
  border-radius: 50%;
  width: 350px;
}

.about_search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #474e5d;
}

.about_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  font-size: 16px;
  color: #fff;
}

.search_btn {
  text-align: center;
  color: var(--text-gray);
  font-size: 20px;
}

.search_field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 50px;
  background-color: #fff;
  border-radius: 6px;
 }

.image_btn {
  width: 20px;
}

.btn {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  text-align: center;
}

.content_title {
  margin: 60px;
  color: #555555;
  line-height: 1.1;
  text-align: center;
  font-weight: unset;
}

.content_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content_text {
  text-align: center;
  font-size: 16px;
  color: var(--text-gray);
}

.content_container1 {
  padding: 15px;
}

.content_img {
  width: 100%;
}

.container_fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
  height: 100px;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.text_fluid {
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.wear {
  color: #337ab7;
  text-decoration: none;
}

#menu_toggle {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar_button {
    display: none;
  }

  .hamburger_menu {
    display: none;
  }

  #menu_box {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container_menu {
    display: none;
  }

  .content_container {
    display: block;
  }

  #menu_toggle {
    display: none;
  }

  .hamburger_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 34px;
    height: 80px;
  }

  #menu_toggle:checked ~ nav > .hamburger_menu >  .menu_btn > span {
    transform: rotate(45deg);
  }

  #menu_toggle:checked ~ nav > .hamburger_menu >  .menu_btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu_toggle:checked ~ nav > .hamburger_menu >  .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu_toggle:checked ~ #menu_box {
    visibility: visible;
    display: block;
  }

  .menu_btn {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
  }

  #menu_box {
    display: none;
    visibility: hidden;
    padding-left: 34px;
    width: 100%;
    margin: 0;
    list-style: none;
    transition-duration: .25s;
  }

  #menu_box > li {
    display: flex;
    justify-content: start;
  }

  .menu_btn > span,
  .menu_btn > span::before,
  .menu_btn > span::after {
    display: block;
    position: absolute;
    width: 34px;
    height: 2px;
    background-color: #777;
    transition-duration: .25s;
  }

  .menu_btn > span::before {
    content: '';
    top: -8px;
  }

  .menu_btn > span::after {
    content: '';
    top: 8px;
  }

  .menu_item {
    display: block;
    padding: 12px;
    font: 18px Montserrat, sans-serif;
    line-height: 1.8;
    text-decoration: none;
    transition-duration: .25s;
    letter-spacing: 5px;
    color: var(--text-gray);
    width: 100%;
    text-align: start;
  }

  .menu_mobile {
    list-style: none;
    width: 50px;
  }
}
